// Importing base styling
@import "./base/fonts";
@import "./base/colours";
@import "./base/components";

body {
    display: flex; // This is to make the container a flex container
    justify-content: center; // This is to horizontally center the container
    align-items: center; // This is to vertically center the container
    min-height: 100vh; // This is to make the container at least the height of the viewport
    margin: 0; // This is to remove the default margin
}

.container {
    width: 37.5rem; // 600px
    padding: 1.25rem; // 20px
    margin-top: -10%; // This is to vertically center the container
}
